[meta]
	title = "NLP NER Tweets from Soccer and fairplay"
	description = """
A NLP NER pipeline automated via cylc.

It uses Python for Cylc, and also for the NLP library, Pattern.

Downloads tweets with word Soccer, and also tweets with word FairPlay.

Then calculates the Sentiment of each tweet, saving them to another CSV.

Finally, a post-processing step removes negative comments, also sorting
by the length of the tweet.
"""

[cylc]
	[[parameters]]
		term = climate, weather, climate_change

[scheduling]
	initial cycle point = now
	max active cycle points = 3
	[[dependencies]]
		[[[R1]]]
			graph = """
				pipinstall => SCRAPER
			"""
		[[[T--00]]]
			graph = """
				@wall_clock => SCRAPER:finish-all => scrapers_finished => sentiment => positive
				scrapers_finished[-PT1M] => SCRAPER
			"""

[runtime]
	[[pipinstall]]
		script = 'pip install --user pattern'
	[[SCRAPER]]
		script = 'tweets.py --term $TERM --out="${CYLC_SUITE_SHARE_PATH}/${CYLC_TASK_CYCLE_POINT}/tweets-${CYLC_TASK_NAME}.csv"'
	[[collector_<term>]]
		inherit = SCRAPER
		[[[environment]]]
			TERM = $CYLC_TASK_PARAM_term
	[[sentiment]]
		script = 'nlp.py --dir "${CYLC_SUITE_SHARE_PATH}/${CYLC_TASK_CYCLE_POINT}" --out=${CYLC_SUITE_SHARE_PATH}/${CYLC_TASK_CYCLE_POINT}/nlp.csv'
	[[positive]]
		script = 'positive.py --file "${CYLC_SUITE_SHARE_PATH}/${CYLC_TASK_CYCLE_POINT}/nlp.csv" --out=${CYLC_SUITE_SHARE_PATH}/${CYLC_TASK_CYCLE_POINT}/final.csv'

[visualization]
	number of cycle points = 10
